.gym {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 120px 103px 10px;

  @media (max-width: $tablet-width) {
    padding: 97px 45px 15px;
  }

  @media (max-width: $mobile-width) {
    padding: 67px 0 69px;
  }
}

.gym__info {
  width: 36%;
  padding: 44px 0 0 60px;

  @media (max-width: $tablet-width) {
    width: 100%;
    padding: 0 75px;
    text-align: center;
  }

  @media (max-width: $mobile-width) {
    padding: 0 15px;
    text-align: left;
  }

  h2 {
    font-family: "Bebas Neue", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0;

    @media (max-width: $tablet-width) {
      font-size: 42px;
      line-height: 42px;
    }

    @media (max-width: $mobile-width) {
      font-size: 32px;
      line-height: 32px;
    }
  }

  h3 {
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    margin: 10px 0;
  }

  p {
    margin: 10px 0;

    &:first-of-type {
      margin-top: 40px;
    }

    @media (max-width: $tablet-width) {
      &:first-of-type {
        margin-top: 35px;
      }

      &:not(:first-of-type) {
        display: none;
      }
    }

    @media (max-width: $mobile-width) {
      &:first-of-type {
        margin-top: 23px;
      }
    }
  }
}

.gym__picture {
  width: 57%;
  margin-left: 53px;
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-width) {
    width: 100%;
    margin-top: 33px;
    margin-left: 0;
  }

  @media (max-width: $mobile-width) {
    margin-top: 23px;
  }

  img {
    width: 100%;
  }
}

.gym__video {
  width: 55%;
  position: relative;
  left: -9.5%;
  top: -18%;

  img {
    width: 100%;
  }

  button {
    width: 100px;
    height: 100px;
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    border: none;
    background: url("../img/icon-play.svg") no-repeat;
    cursor: pointer;
    outline: none;

    @include actions-op;

    @media (max-width: $tablet-width) {
      width: 73px;
      height: 73px;
      left: calc(50% - 36px);
      top: calc(50% - 36px);
      background-size: 73px 73px;
    }
  }

  @media (max-width: $tablet-width) {
    width: 39%;
    top: -16.3%;
    left: 0;
    margin: 0 auto;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-top: 40px;
    top: 0;
    left: 0;
  }
}
