$white: #ffffff;
$black: #030a1a;
$blue: #1c3374;
$blue--darken: #102654;
$blueOp--darken: rgba($blue--darken, 0.5);
$blueOp09--darken: rgba($blue--darken, 0.89);
$blue--lighten: #103aae;
$blue-gray: #495a7d;
$blue-gray--lighten: #74819c;
$blue--deeper: #2e35ac;
$red--brighten: #ed0233;
$red: #d10a42;
$redOp: rgba($red, 0.2);
$red--darken: #d10a42;
$concrete: #f8f9fc;
$wet-concrete: #e8e8e8;
$wet-concreteOP: rgba($wet-concrete, 0.5);
$gray: #787878;
$grayOp: rgba($gray, 0.2);
$gray--lighten: #e8e8e8;
$gray-dog: #afafaf;
$gray--darken: #b6bdcc;
$red-gradient: #d10a42;
$blue-gradient: #00359f;
$blue-gradient-button: #003eb7;
