@mixin clear-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin wrapper() {
  margin-left: auto;
  margin-right: auto;
}

@mixin actions() {
  &:hover {
    border-image: linear-gradient(140deg, $red--brighten 0%, $blue-gradient 100%);
    border-image-slice: 1;
  }

  &:focus {
    border-image: linear-gradient(140deg, $red--brighten 0%, $blue-gradient 100%);
    border-image-slice: 1;
  }

  &:active {
    border-image: linear-gradient(140deg, $red--brighten 0%, $blue-gradient 100%);
    border-image-slice: 1;
    opacity: 0.3;
  }
}

@mixin actions-op() {
  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
